.profil {
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.foto-bigmo {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center; /* tengah horizontal */
  margin: 20px 0;
}

.btn {
    display: inline-block;
     padding: 12px 20px;
     background-color: #33444b;
     color: white;
     text-decoration: none;
     border-radius: 20px;
     font-weight: bold;
}



.btn:hover {
  background-color: #000000e9;
}

.center-text{
    text-align: center;
    padding: 10px;
}

